@import "bourbon/bourbon";
@import "neat/neat";
$font-stack: Helvetica, sans-serif;
$primary-color: #1ba7e0;
html,
body{
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  font-family: $font-stack;
}
.randomise{
  background-color: $primary-color;
  height: 48px;
  width: auto;
  border-radius: 8px;
  border-style: none;
  font-size: 24px;
  color: white;
  padding: 6px 24px 6px 24px;
}
.container{
    // padding-left: 12px;
    // padding-right: 12px;
}
.tile{
  float: left;
  padding: 0;
}
header {
  background-color: $primary-color;
  padding-left: 24px;
  padding-right: 24px;
  > h1 {
    margin: 0 0 0 0;
    color: whitesmoke;
    padding-top: 24px;
    padding-bottom: 24px;
    // float: left;
  }
  > span{
    height: 112px;
    width: 40px;
  }
}
section.content{
  float: left;
  width: 30%;
}
main{
  width: 100%;
  h2{
    color:$primary-color;
    input{
      display: inline;
    }
  }
  div{
    padding: 6px;
  }
  div {
    input{
      margin: 12px;
      display: block;
      border-radius: 5px;
      height: 48px;
      padding: 6px;
      font-size: 24px;
    }
    .upload{
      width: 157px;
      height: 57px;
      background-color: black;
      overflow: hidden;
    }
  }

}
.img-container{
  padding: 48px 0px 48px 0px;
  position: absolute;
  // width: 100%;
  // max-height: 768px;
  // overflow: scroll;
}
.tile-content{

}
